<link rel="stylesheet" type="text/css" href="/css/reset_password.css">

<div class="reset-section">
    <div class="container">
        <h1>Reset Password<h1>
        <form action="reset-password" method="post" id="reset-password">
            <input hidden type="text" autocomplete="username" value="">
            <section>
                <label for="current-password">Current Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <section>
                <label for="new-password">New Password</label>
                <input id="new-password" name="new_password" type="password" autocomplete="new password" required>
            </section>
            <button type="submit">Reset Password</button>
        </form>
        <div class="account">
            <a href="welcome">Welcome</a>
        </div>
    </div>
</div>

<script src="/js/reset-password.js"></script>