<link rel="stylesheet" type="text/css" href="/css/welcome.css">
<section class="welcome-section">
    <div class="welcome_page">
        <h1>Welcome <%= user.username %></h1>
        <p>Email:- <%= user.email %> </p>
    </div>
    <div class="reset-password">
        <a href="reset-password">Reset Password</a>
    </div>
    <div class="signout-section">
        <a href="sign-out">Sign Out</a>
    </div>  
</section>